.hero-text {
      background-color: #ECF6FF;
      padding-top: 80px;
      height: 35vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero-text>.container {
      width: 270px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .hero-text>.container>h1 {
      font-size: 64px;
      width: 100%;
    text-align: center;
  }

  .hero-text>.container>h3 {
      font-weight: 400;
      width: 100%;
    text-align: center;
  }

.white {
      width: 100%;
      height: 400px;
      background-color: #ECF6FF;
      display: flex;
      justify-content: start;
      align-items: center;
      filter:drop-shadow(0px 4px 4px #2d2d2d);
  }

  .white>.container {
      width: 85%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
  }

  .black {
      width: 100%;
      height: 400px;
      background-color: #3F3F3F;
      display: flex;
      justify-content: end;
      align-items: center;
      filter:drop-shadow(0px 4px 4px #2d2d2d);
  }

  .black>.container {
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .black>.container>.info>p {
      color: #ECF6FF;
      font-size: 20px;
      font-weight: 300;
  }

  .white>.container>.info>p {
      color: #3F3F3F;
      font-size: 20px;
      font-weight: 400;
  }

  .info>p>span {
      color: #FF5C00;
      font-weight: 600;
  }

  .info>a>.button {
      background-color: #FF5C00;
      padding: 10px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin-top: 10px;
  }

  .white>.container>.info>h3 {
      font-family: ndot32;
      letter-spacing: 1.2px;
      font-weight: 400;
      font-size: 28px;
      color: #2d2d2d;
      padding-bottom: 2vh;
  }

  .black>.container>.info>h3 {
      font-family: ndot32;
      letter-spacing: 1.2px;
      font-weight: 400;
      font-size: 28px;
      color: #ECF6FF;
      padding-bottom: 2vh;
  }

  .info {
      width: 45%;
  }

  .image {
      height: 400px;
  }

  .image>img {
      width: 500px;
      height: 400px;
      object-fit: cover;
  }

  @media screen and (max-width: 600px) {

      .hero-text {
            height: 30vh;
        }

  .black {
      width: 100%;
      height: 70vh;
      justify-content: center;
  }


  .black>.container>.info>p {
      font-size: 16px;
  }

  .black>.container {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .white {
      width: 100%;
      height: 70vh;
      justify-content: center;
  }

  .white>.container {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .white>.container>.info>p {
      font-size: 16px;
  }

  
  .info {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .image {
      height: 300px;
      padding-top: 5vw;
  }

  .image>img {
      width: 90vw;
      height: 300px;
      object-fit: cover;
  }
  }