
.loader {
      position: relative;
      z-index: 300;
      background-color: #3F3F3F;
      height: 0vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .loader>img {
      width: 0px;
  }

  .loader {
      animation-name: loading;
      animation-duration: 5s;
  }

  .loader>img {
      animation-name: imageLoading;
      animation-duration: 5s;
      
  }

    @keyframes loading {
      0% {height: 100vh;}
      20% {height: 100vh;}
      100% {height: 0vh;}
    }

    @keyframes imageLoading {
      from {width: 200px;} 
      to {width: 0px;}
    }
